
# VsCode Configs
.vscode/settings.json
.vscode/settings.local.json
.vscode/tasks.json
.vscode/tasks.local.json
.vscode/launch.json
.vscode/launch.local.json
.devcontainer/user-installs.sh

# Docker
# .env and .env-dev are generated and developer specific
/docker/.env
/docker/.env-dev
/docker/docker-compose.override.yml

/temp/

# Python
__pycache__
db.sqlite3

# django
back_src/zzz_config_zzz/settings_local.py
