# automatically merged and used with 'docker compose up'

version: '3.8'

services:

    postgres:
        environment:
            - POSTGRES_DB=postgres
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=postgres
        # Allow external port access to database for development
        ports:
            - "5432:5432"
        networks:
            longprojectname-network:


    python:
        build:
            args:
                - DEV_BUILD=true
        command: bash -c "python manage.py migrate && sleep infinity"
        ports:
            # server debug port
            - "5678:5678"
            # tests debug port
            - "5679:5679"
        networks:
            longprojectname-network:
                aliases:
                    - longprojectname-debug-container

    front-components:
        command: bash -c "npm install && sleep infinity"
        ports:
            # component development port
            - "8347:8347"

volumes:
    # Volumes created in /setup-dev.sh
    back-src-volume:
        external: true
        name: longprojectname-back-src
    front-components-src-volume:
        external: true
        name: longprojectname-front-components-src
    public-src-volume:
        external: true
        name: longprojectname-public-src

networks:
    longprojectname-network:
        name: longprojectname-network
        external: true
