# automatically merged and used with 'docker compose up'

services:

    postgres-con:
        command: bash -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
        environment:
            - POSTGRES_DB=<fill>
            - POSTGRES_USER=<fill>
            - POSTGRES_PASSWORD=<fill>

    vite-con:
        command: bash -c "npm install && npm run build"

volumes:
    django-src-volume:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: ../django_src
    vite-src-volume:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: ../vite_src
    node-src-volume:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: ../node_src
    public-src-volume:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: ../public
    shared-volume:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: ../shared_volume
